<footer id="footer">
  <div class="container">
    <h3>Shashank Mittal</h3>
    <p>Lets be socially connected and be internet BFF.</p>
    <div class="social-links">
      <a
        href="https://www.facebook.com/mitta9shashank/" target="_blank"
         class="facebook"><i class="bx bxl-facebook"></i></a>
      <a
        href="https://www.instagram.com/immittalshashank/" target="_blank"
         class="instagram"><i class="bx bxl-instagram"></i></a>
      <a
        href="https://www.linkedin.com/in/mittal9shashank" target="_blank"
        class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <!--<div class="copyright">-->
      <!--&copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved-->
    <!--</div>-->
    <!--<div class="credits">-->
      <!--&lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
      <!--&lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
      <!--&lt;!&ndash; Licensing information: [license-url] &ndash;&gt;-->
      <!--&lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ &ndash;&gt;-->
      <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
    <!--</div>-->
  </div>
</footer><!-- End Footer -->
