<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
    </div>

    <div class="row mt-1">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="material-icons">location_on</i>
            <h4>Location:</h4>
            <p>Sun City Apartment, Bengaluru, India</p>
          </div>

          <div class="email">
            <i class="material-icons">email</i>
            <h4>Email:</h4>
            <p>shashank9mittal@gmail.com</p>
          </div>

          <div class="phone">
            <i class="material-icons">call</i>
            <h4>Call:</h4>
            <p>+91 9590302543</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="mailto:shashank9mittal@gmail.com" method="post" enctype="text/plain">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" value="Send">Send Message</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
