<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Latest Projects</h2>
    </div>

    <!--Legal Bot-->
    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-8 col-md-12 portfolio-item filter-app">
        <div
          class="portfolio-wrap"
          data-toggle="modal"
          data-target="#legalBotModal"
        >
          <img
            src="assets/img/portfolio/chat/chat.png"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <!-- <h4>Legal Bot</h4> -->
          </div>
        </div>
        <!-- <div>
          <h4 style="text-align: center;" >Legal Bot</h4>
        </div> -->
        
      </div>
      

      <!-- Flow Lyf-->
      <div class="col-lg-8 col-md-12 portfolio-item filter-app">
        <div
          class="portfolio-wrap"
          data-toggle="modal"
          data-target="#flowLyfModal"
        >
          <img
            src="assets/img/portfolio/flowLyf/FlowLyf.png"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <!-- <h4>Flowlyf</h4> -->
          </div>
        </div>
        <!-- <div>
          <h5 style="text-align: center;" >flowlyf</h5>
        </div> -->
      </div>

      <!--RSQE-->
      <div class="col-lg-8 col-md-12 portfolio-item filter-app">
        <div class="portfolio-wrap" data-toggle="modal" data-target="#rsqe">
          <img
            src="assets/img/portfolio/rsqe/resq_1.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <!-- <h4>RSQE</h4> -->
          </div>
        </div>
        <!-- <div>
          <h5 style="text-align: center;" >Rsqe</h5>
        </div> -->
      </div>
      <!--Travel Management-->
      <!-- <div class="col-lg-8 col-md-12 portfolio-item filter-app">
        <div
          class="portfolio-wrap"
          data-toggle="modal"
          data-target="#travelModal"
        >
          <img
            src="assets/img/portfolio/travel/travel.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Travel Management</h4>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- Legal Bot Modal -->

<!-- The Modal -->
<div class="modal fade" id="legalBotModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Legal Bot</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="short-description">
          Chat bot product from Westernacher, that can be used by other
          customers for their customer support needs.This product provides
          capability to companies to solve customer queries through automated
          bot replies. Targeted for legal and justice related offices in Germany
          primarily.
        </p>

        <div class="col-lg-12 col-md-12">
          <img
            src="assets/img/portfolio/chat/chat.png"
            class="img-fluid"
            alt=""
          />
          <i>Chat Bot image</i>
        </div>
        <p>
          This provides an end to end solution to tackle customer problems, it
          enables support person to raise a ticket and enables admin track open
          issues via graph.
        </p>
        <div class="col-lg-12 col-md-12">
          <img
            src="assets/img/portfolio/chat/graph.png"
            class="img-fluid"
            alt=""
          />
          <i>Graphical tracking</i>
        </div>

        <br />
        <div>
          <h5>Initial Research</h5>
          <p>
            We conducted interviews and discussions with stake holders about the
            real problem that our customers were facing, as an organisation
            Westernacher has products that serve the needs of judiciary,Notary
            and lawyers mostly in Germany. With a chat bot application we wished
            to provide a solution where Notaries and lawyers can have an
            automated chat solution where they can deal with any questions from
            their clients and provide a solution either by an automated reply
            which has trained models or by connecting to a support person who
            can provide a solution.
          </p>
        </div>
        <div>
          <h5>Ideation</h5>
          <p>
            After getting all the data from stake holders we planned for a data
            flow for our automated chat bot system and data Structure in which
            we will store data in data base and Json structure that Backend
            would provide to Front End
          </p>
          <img
            src="assets/img/portfolio/chat/flow.jpeg"
            class="img-fluid"
            alt=""
          />
          <i>planning</i>
        </div>
        <br />
        <div>
          <h5>My Role</h5>
          <p>
            In a team of four members, my role is primarily a Front-End
            developer, I convert designs and ,prototypes that designers provide
            into application and also contributing in designing of screens that
            are responsive and scalable.<br />
            I have worked on technologies like
            <b>JavaScript, HTML, CSS, Angular v9, GraphJs, Angular Material.</b>
          </p>
        </div>
        <br />
        <div>
          <h5>Result</h5>
          <p>
            This application is in its final leg with a couple of successful
            presentations made to stakeholders and higher management, we have
            provided this application as a library which requires minimum
            configuration.
          </p>
          <p>
            This product is marketed by Westernacher at
            <a href="https://botterfly.ai/" target="_blank">botterfly.ai</a>
          </p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- FlowLyf Modal -->

<!-- The Modal -->
<div class="modal fade" id="flowLyfModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">flowlyf</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="short-description">
          flowlyf is a freelancing project undertaken by me which serves as a
          the marketing page for the company. It serves as an end to end
          platform for company to attract a customer , detail and onboard
          him/her.
        </p>

        <p>
          This online website of the company can be visited at
          <a href="https://www.flowlyf.com/home" target="_blank">flowlyf</a>
        </p>
        <div class="col-lg-12 col-md-12">
          <img
            src="assets/img/portfolio/flowLyf/flowLyf_home.png"
            class="img-fluid"
            alt=""
          />
          <i>flowlyf Home page</i>
        </div>

        <br />
        <div>
          <h5>My Role</h5>
          <p>
            My role in this project is basically as a Front-End developer,
            client provided me with mockups and required assests. I developed a
            web application that is highly responsive and scalable website.
            <br />
            This required me to work on various technologies that include
            <b>JavaScript</b>, <b>HTML</b>, <b>CSS</b>, <b>Angular 9</b>,
            <b>Bootstrap 4</b>
          </p>
          <div class="col-lg-12 col-md-12">
            <img
              src="assets/img/portfolio/flowLyf/flowlyf_price.png"
              class="img-fluid"
              alt=""
            />
            <i>flowlyf Priceing page</i>
          </div>
        </div>
        <br />
        <div>
          <h5>Result</h5>
          <p>
            This application is developed and hosted , it works a single point
            for company to onboard its customer. It is much appriciated by the
            stakeholder.Live application can be accessed
            <a href="https://www.flowlyf.com/home" target="_blank">here.</a>
          </p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--RSQE -->

<div class="modal fade" id="rsqe">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">RSQE</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="short-description">
          BT Global Services maintains a portfolio of sales tools designed to
          configure and quote for its many network products. Each tool has been
          created bespoke for each product, resulting in a long
          product-to-market cycle time. The use of multiple tools for multiple
          products meant users had to swivel between different tools. Lack of
          validation and clear task flow led to increased errors and an
          inconsistent user experience between different tools led to longer
          training times. Users found these tools difficult to use and this was
          cited as one of the main reasons for indirect sales channels
          abandoning their use
        </p>
        <div class="col-lg-12 col-md-12">
          <img
            src="assets/img/portfolio/rsqe/resq_1.jpg"
            class="img-fluid"
            alt=""
          />
          <i>Configuration Screen</i>
        </div>
        <br /><br />
        <div>
          <h5>Initial Research</h5>
          <p>
            Worked closely with Designers to develop new screens and user flow
            to add products.
          </p>
          <div class="col-lg-12 col-md-12">
            <img
              src="assets/img/portfolio/rsqe/rsqe_plan.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <i>Initial Discussion</i>

          <br />
          <div class="col-lg-12 col-md-12">
            <img
              src="assets/img/portfolio/rsqe/rsqe_user_flow.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <i>User Data Flow</i>

          <br />
        </div>
        <br /><br />

        <div>
          <h5>My Role</h5>
          <p>
            In a team of eight members, my role is primarily a Front-End
            developer, I was responsible for converting designs to reality on
            screens with a working functionality, integrating with backend to
            perform CRUD operation.
            <br />
            I have worked on technologies like
            <b>JavaScript, HTML, CSS, AngularJs, Jquery, Bootstrap.</b>
          </p>
        </div>
        <br />
        <div>
          <h5>Result</h5>
          <p>
            The application combined various small application into a single
            platform, it enabled proper validation in usr data flow. It boosted
            sales team effort in onboarding new customers.
          </p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
