<div class="row">
  <div class="col-2">
    <app-navigation  [activeUrl]="currentSection"  (navigationChange)="scrollTo($event)"></app-navigation>
  </div>
  <div class="col-10 right-panel" scrollSpy
       [spiedTags]="['DIV']"
       (sectionChange)="onSectionChange($event)"
       style="overflow-y: scroll;overflow-x: hidden">
    <div id="intro">
      <app-intro></app-intro>
    </div>
    <div id="about">
      <app-about class="col-12"></app-about>
    </div>
    <div id="resume">
      <app-resume class="col-12"></app-resume>
    </div>
    <div id="portfolio">
      <app-portfolio></app-portfolio>
    </div>
    <div id="contact">
      <app-contact></app-contact>
    </div>

  </div>
</div>
<div *ngIf="currentUrl === 'contact'" id="footer">
</div>
