<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Resume</h2>
      <!--<p>Spanning over more than 7 years I have.</p>-->
    </div>

    <div class="row">
      <!--<div class="col-lg-6">-->

      <!--<h3 class="resume-title">Education</h3>-->
      <!--<div class="resume-item">-->
      <!--<h4>Bachelor in Technology Computer Science and Engineering </h4>-->
      <!--<h5>2009 - 2013</h5>-->
      <!--<p><em>Gandhi Institute of Engineering and Technology, Odisha</em></p>-->
      <!--<p>Completed my Btech with first class grades </p>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-lg-6">
        <div class="resume-item">
          <h4>Senior consultant</h4>
          <h5>2018 - Present</h5>
          <p><em>Westernacher Consulting Pvt Ltd, Bengaluru, India </em></p>
          <ul>
            <li>Create web application front end as per design comprehensive layout and information architecture
            </li>
            <li>Integrate application front end with application business layer.
            </li>
            <li>Coordinate with Interface Design Architects for meeting accessibility standards at code level
            </li>
            <li>Engage in requirement specification process for new software functionality</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Senior Software Developer</h4>
          <h5>2017 - 2018</h5>
          <p><em>Siemens Technology Services, Bengaluru, India</em></p>
          <ul>
            <li>Worked with Mindsplere team to determine the structure and design of web pages
            </li>
            <li>Ensured user experience determines design choices</li>
            <li>Developed features to enhance the user experience</li>
            <li>Built reusable code for future use</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="resume-item">
          <h4>Associate</h4>
          <h5>2016 - 2017</h5>
          <p><em>British Telecom, Bengaluru, India </em></p>
          <ul>
            <li>Worked with RSQE Team and other developers to ensure that the website is functional and visually
              appealing
            </li>
            <li>Ensured that the website is optimized for various devices.
            </li>
            <li>Used analytics to test client enjoyment
            </li>
            <li>Deployed software tools, processes and metrics</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Associate Software Developer</h4>
          <h5>2017 - 2018</h5>
          <p><em>Misys Software Solutions, Bengaluru, India</em></p>
          <ul>
            <li>Worked with financial software in Bank Fusion (Retail Banking)
            </li>
            <li>Researched, designed, implemented and managed software programs</li>
            <li>Tested and evaluated new programs</li>
            <li>Developed quality assurance procedures</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->
