<div class="portfolio-nav">
  <div class="port-bar">
    <div (click)="navigation('intro')" class="port-pill">
      <i class="material-icons">home</i>
      <span>Home</span>
    </div>
    <div (click)="navigation('about')" class="port-pill">
      <i class="material-icons">perm_identity</i>
      <span>About</span>
    </div>
    <div (click)="navigation('resume')" class="port-pill">
      <i class="material-icons">list</i>
      <span>Resume</span>
    </div>
    <div (click)="navigation('portfolio')" class="port-pill">
      <i class="material-icons">web</i>
      <span>Portfolio</span>
    </div>
    <div (click)="navigation('contact')" class="port-pill">
      <i class="material-icons">email</i>
      <span>About</span>

    </div>
  </div>
</div>
